body {
	background-image: url("background.jpg");
	background-color: #EEDDAA
}
#menu {
	background-image: url("black.png");
	height: 50%;
	width: 100%;
	border: 1px solid black;
}
.title {
	font-size: 50px;
	text-decoration: underline;
}
#update_log {
	background-image: url("black.png");
	align: center;
	width: 99%;
	height: 100%;
	border: 5px solid black;
}
.menu {
	font-size: 25px;
	position: relative;
	bottom: 0;
	color: black;
	text-decoration: none;
}
.td_border {
	border: none !important;
}
#furnace_visibility {
	display: none;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 4px double black;
    border-top: none;
}
.tablinks {
    border: none;
    color: black;
	background-color: #DDDDDD;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
	transition-duration: 0.6s;
}
.tablinks:hover {
    border: none;
    color: black;
	background-color: #CECECE;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}
.work_button {
    border: none;
    color: black;
	background-color: #DDDDDD;
    padding: 6px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
	transition-duration: 0.3s;
}
.work_button:hover {
	resize: horizontal;
	border: none;
    color: black;
	background-color: #CECECE;
    padding: 6px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}
.craft_button {
    border: none;
    color: black;
	background-color: #DDDDDD;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
	transition-duration: 0.4s;
}
.craft_button:hover {
	border: none;
    color: black;
	background-color: #CECECE;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}
.tr {
	border: 1px dashed;
    color: black;
	background-color: #DDDDDD;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	transition-duration: 0.4s;
}
.tr:hover {
	border: 1px solid;
    color: black;
	background-color: #CECECE;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.hide {
	display: none;
}
table, tr, th, td {
	border: 1px solid black;
	text-align: center;
}
#info_box {
	padding-left: 20px;
	transition-duration: 1s
}
.taller_text {
	font-size: 20px;
}